{% extends 'base.html.twig' %}

{% block title %}Register {% endblock %}

{% block body %}
	<div class="flex h-screen w-full items-center justify-center bg-gray-100">
		<div class="w-full max-w-3xl overflow-hidden rounded-lg bg-white shadow-lg sm:flex">
			<div class="m-2 w-full rounded-2xl bg-gray-400 bg-cover bg-center text-white sm:w-2/5" style="background-image: url(images/equipe.jpg)"></div>
			<div class="w-full sm:w-3/5">
				<div class="p-8">
					<h1 class="text-3xl font-black text-slate-700">S'inscrire
					</h1>
					<p class="mt-2 mb-5 text-base leading-tight text-gray-600">Créez un compte pour pouvoir postuler et gérez vous candidature
					</p>
					<form class="mt-8" name="registration_form" method="post">
                        
                        
                        {{form_errors(registrationForm.email)}}
                        {{form_errors(registrationForm.plainPassword)}}

						<div class="relative mt-2 w-full">
							<input type="email" name="registration_form[email]" id="email" class="border-1 peer block w-full appearance-none rounded-lg border border-gray-300 bg-transparent px-2.5 pb-2.5 pt-4 text-sm text-gray-900 focus:border-primary focus:outline-none focus:ring-0" placeholder=" "/>
							<label for="email" class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-75 transform cursor-text select-none bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-primary">
								Email 
							</label>
						</div>
						<div class="relative mt-2 w-full">
							<input name="registration_form[plainPassword]" required="required" autocomplete="new-password" type="password" id="password" class="border-1 peer block w-full appearance-none rounded-lg border border-gray-300 bg-transparent px-2.5 pb-2.5 pt-4 text-sm text-gray-900 focus:border-primary focus:outline-none focus:ring-0" placeholder=" "/>
							<label for="password" class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-75 transform cursor-text select-none bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-primary">
								Mot de passe
                            </label>
						</div>

                        <div class="mt-2 w-full">
							<input type="checkbox" id="registration_form_agreeTerms" name="registration_form[agreeTerms]" required="required" value="1"/>
							<label class="text-sm" for="registration_form_agreeTerms" >
								En cliquant sur "Créez un compte", vous acceptez les <a href="#" class="text-primary">Conditions d'utilisation</a> et la <a href="#" class="text-primary">Politique de confidentialité</a>
                            </label>
						</div>
                        <input type="hidden" id="registration_form__token" name="registration_form[_token]" value="{{ csrf_token('registration_form') }}"/>


						<input class="mt-4 w-full cursor-pointer rounded-lg bg-primary pt-3 pb-3 text-white shadow-lg hover:bg-blue-400" type="submit" value="Créez un compte "/>
					<div class="mt-4 text-center">
						<p class="text-sm text-gray-600">Vous avez déjà un compte?
							<a href="{{path('app_login')}}" class="font-bold text-primary no-underline hover:text-blue-400">Se connecter                            </a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
