
<table bgcolor="#fafafa" style=" width: 100%!important; height: 100%; background-color: #fafafa; padding: 20px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, 'Lucida Grande', sans-serif;  font-size: 100%; line-height: 1.6;">
    <tr>
    <td></td>
    <td bgcolor="#FFFFFF" style="border: 1px solid #eeeeee; background-color: #ffffff; border-radius:5px; display:block!important; max-width:600px!important; margin:0 auto!important; clear:both!important;"><div style="padding:20px; max-width:600px; margin:0 auto; display:block;">
    <table style="width: 100%;">
    <tr>
    <h1 style="font-weight: 200; font-size: 16px; margin: 20px 0 30px 0; color: #333333;">Bonjour {{ candidate.user.firstname }}</h1>
    <h1 style="font-weight: 200; font-size: 16px; margin: 20px 0 30px 0; color: #333333;">
    Nous tenons tout d'abord à vous remercier pour l'intérêt que vous avez porté à Nouvsys et pour votre candidature pour l'offre: <a href="{{url('app_offres_show',{id:offres.id})}}"> {{offres.title}}</a>
    </h1>
    <h2 style="font-weight: 200; font-size: 16px; margin: 20px 0; color: #333333;"> Après avoir étudié attentivement votre candidature, nous sommes heureux de vous informer que vous avez été sélectionné(e) pour passer à la deuxième phase de notre processus de recrutement. Celle-ci consiste en un entretien avec notre équipe.</h2>
    <h2 style="font-weight: 200; font-size: 16px; margin: 20px 0; color: #333333;"> Afin de planifier cet entretien, nous vous invitons à choisir une date et une heure qui vous conviennent en utilisant le lien suivant : <a href="https://calendly.com/hamzabenattiayt2/entretient" >Planifier un entretien</a>
 </h2>
    <h2 style="font-weight: 200; font-size: 16px; margin: 20px 0; color: #333333;"> Nous sommes impatients de vous rencontrer et d'en savoir plus sur vos compétences et votre expérience.
 </h2>
    <h2 style="font-weight: 200; font-size: 16px; margin: 20px 0; color: #333333;"> Dans l'attente de votre retour, nous vous souhaitons une excellente journée.

 </h2>
    <h2 style="font-weight: 200; font-size: 16px; margin: 20px 0; color: #333333;"> Cordialement </h2>
    <h2 style="font-weight: 200; font-size: 16px; margin: 20px 0; color: #333333;"> L'équipe de Nouvsys</h2>
    <p style="text-align: center; display: block; padding-top:20px; font-weight: bold; margin-top:30px; color: #666666; border-top:1px solid #dddddd;"><a href="{{url('app_home')}}">Nouvsys</a> </p></td>
    </tr>
    </table>
    </div></td>
    <td></td>
    </tr>
    </table>