<div class="flex">
    <p>
            Bonjour {{ candidate.firstname }}
    </p>
    <p>Votre candidature a bien été enregistrée pour l\'offre {{offres.title}}</p>            
    <p>Vous pouvvez gérer votre candidature depuis votre espace candidat <a href="{{url('app_user_candidate_index')}}">Espace candidat</a></p>
    <p>Nous vous remercions pour votre confiance</p>
    <p>L'équipe de Nouvsys</p>
</div>