<table bgcolor="#fafafa" style=" width: 100%!important; height: 100%; background-color: #fafafa; padding: 20px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, 'Lucida Grande', sans-serif;  font-size: 100%; line-height: 1.6;">
    <tr>
    <td></td>
    <td bgcolor="#FFFFFF" style="border: 1px solid #eeeeee; background-color: #ffffff; border-radius:5px; display:block!important; max-width:600px!important; margin:0 auto!important; clear:both!important;"><div style="padding:20px; max-width:600px; margin:0 auto; display:block;">
    <table style="width: 100%;">
    <tr>
    <h1 style="font-weight: 200; font-size: 18px; margin: 20px 0 30px 0; color: #333333;">vous avez recu un nouveau message depuis le formulaire de contact de Nouvsys</h1>
    <p style="margin-bottom: 10px; font-weight: normal; font-size:16px; color: #333333;"></p>
    <h2 style="font-weight: 200; font-size: 16px; margin: 20px 0; color: #333333;">Nom : {{nom}} </h2>
    <h2 style="font-weight: 200; font-size: 16px; margin: 20px 0; color: #333333;"> Numéro de Télephone : {{numero}} </h2>
    <h2 style="font-weight: 200; font-size: 16px; margin: 20px 0; color: #333333;"> Email: {{senderEmail}} </h2>
    <h2 style="font-weight: 200; font-size: 16px; margin: 20px 0; color: #333333;">Message: </h2>
    <span>
        {{message}}
    </span>
    <p style="text-align: center; display: block; padding-top:20px; font-weight: bold; margin-top:30px; color: #666666; border-top:1px solid #dddddd;">Nouvsys</p></td>
    </tr>
    </table>
    </div></td>
    <td></td>
    </tr>
    </table>