<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Nouvsys -
			{% block title %}Groupe de Conseils et Services en Informatique{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/favicon.png') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="
        https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js
        "></script>    
		<script
		src = "https://cdn.jsdelivr.net/gh/KodingKhurram/animate.css-dynamic@main/animate.min.js">
	  </script>
	  
  

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		
		{% endblock %}
	</head>
	<body>
		
		{% include 'components/_navbar.html.twig' %}
		{% block body %}
		{% endblock %}
		<a href="#" id="back-to-top" class="fixed bottom-4 right-4 bg-primary text-white px-4 py-2 rounded shadow-md transition duration-300 ease-in-out transform hover:scale-105"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
			<path stroke="currentColor" class="text-white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v13m0-13 4 4m-4-4-4 4"/>
		  </svg>
		  </a>

		{% include 'components/_footer.html.twig' %}
	</body>
</html>
