<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Nouvsys -
			{% block title %}Groupe de Conseils et Services en Informatique{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/favicon.png') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="
        https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js
        "></script>    
		<script
		src = "https://cdn.jsdelivr.net/gh/KodingKhurram/animate.css-dynamic@main/animate.min.js">
	  </script>
  

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		
		{% endblock %}
	</head>
	<body>
		
		{% include 'components/_navbar.html.twig' %}
		{% block body %}{% endblock %}
		{% include 'components/_footer.html.twig' %}
	</body>
</html>
