<footer class="bg-gray-900 text-gray-300 py-5 sm:px-16 px-6 font-[sans-serif]">
    <div class="flex justify-center items-cente text-center">
      <p class="text-base">© 2024<a href='{{path('app_home')}}'
        class="hover:underline mx-1">Nouvsys</a>All Rights Reserved.</p>
    </div>
  </footer>