
<div class="mt-28 mx-12  ">
    <div class="md:text-center max-w-2xl mx-auto aniUtil_active ani_backInDown ">
      <h2 class="md:text-4xl text-3xl font-extrabold mb-6 text-[#18629C]">Qui sommes-nous ?</h2>
      <p>
         Nouvsys, fondée en 2017, est une société de Conseils et Services en Informatique basée à Paris, en France. Spécialisée dans la fourniture de solutions informatiques sur mesure,.</p>
    </div>
    <div class="mt-14 ">
      <div class="grid md:grid-cols-2 items-center gap-16 ">
        <div class="ani_fadeInLeft aniUtil_active">
          <img src="{{asset('/images/equipe.jpg')}}" alt="equipe" loading="lazy"
            class="w-full object-contain rounded-md shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)]" />
        </div>
        <div class="max-w-lg ani_fadeInRight aniUtil_active ">
          <h3 class="text-xl font-bold mb-4 text-[#18629C]">Notre Equipe</h3>
          <p>Notre équipe d'experts passionnés par la technologie s'engage à accompagner nos clients dans leur transformation numérique. En tant que partenaire de confiance, nous travaillons étroitement avec nos clients pour comprendre leurs besoins spécifiques et leur offrir des conseils stratégiques ainsi que des services informatiques de pointe</p>
          <a href="{{path('app_about')}}">
            <button type="button"
            class="bg-[#18629C] hover:bg-blue-900 text-white rounded-full px-5 py-2.5 mt-8 transition-all">
            En savoir plus
          </button>
        </a>
        </div>
      </div>
    </div>
  </div>

